<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--首頁抬頭-->
		<add key="WebTitleName" value="壽司郎門店管理系統"/>
		<!--主網頁-->
		<add key="PageAddr" value="http://localhost/fujitsu2"/>
		<!--店內公告附件-->
		<add key="DOCPath1" value="C:\\inetpub\\wwwroot\\fujitsu2\\uploadstuff\\DOC\\Path1\\"/>
		<add key="DOCPath11" value="http://localhost/fujitsu2/uploadstuff/DOC/Path1/"/>
		<!--總公司公告附件-->
		<add key="DOCPath2" value="C:\\inetpub\\wwwroot\\fujitsu2\\uploadstuff\\DOC\\Path2\\"/>
		<add key="DOCPath21" value="http://localhost/fujitsu2/uploadstuff/DOC/Path2/"/>
		<!--請修附件-->
		<add key="REPAIRPath1" value="C:\\inetpub\\wwwroot\\fujitsu2\\uploadstuff\\REPAIR\\"/>
		<add key="REPAIRPath11" value="http://localhost/fujitsu2/uploadstuff/REPAIR/"/>
		<!--LINE-->
		<add key="CallbackURL" value="http://127.0.0.1/fujitsu2/LineNotifyCallback.aspx"/>
		<add key="LINEPATH" value="C:\\inetpub\\wwwroot\\fujitsu2\\uploadstuff\\LINE\\"/>
		<add key="LINEURL" value="http://13.85.27.121/cpossvr/uploadstuff/LINE/"/>
		<!--人員-->
		<add key="USERPATH" value="C:\\inetpub\\wwwroot\\fujitsu2\\image\\user\\"/>
		<add key="USERPATHURL" value="http://localhost/fujitsu2/image/user/"/>
		<!--商品-->
		<add key="GOODSPATH" value="C:\\inetpub\\wwwroot\\fujitsu2\\image\\goods\\"/>
		<add key="GOODSPATHURL" value="http://localhost/fujitsu2/image/goods/"/>
    <!--SMS-->
    <add key="SMSClientID" value="g30zO21fDTvZ1u3rSAsbUB"/>
    <!--網站地圖其它-->
    <add key="OTHER1URL" value="http://13.85.27.121/fujitsu-web.tmp/"/>
    <add key="OTHER2URL" value="http://13.85.27.121/ftuTransactionData/"/>
    <!--系統維護-->
    <add key="SYSMAINTENANCE" value="0"/>
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="DevExpress.Data.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.Web.ASPxEditors.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.Web.ASPxGridView.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxPivotGrid.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.PivotGrid.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxPivotGrid.v12.1.Export, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraPivotGrid.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Printing.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Utils.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraEditors.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxHtmlEditor.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxSpellChecker.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.RichEdit.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.SpellChecker.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Office.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraCharts.v12.1.Web, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraCharts.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Charts.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="DevExpress.Web.ASPxScheduler.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraScheduler.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxGridView.v12.1.Export, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraPrinting.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/></assemblies>
		</compilation>
		<httpModules>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
		</httpHandlers>
		<httpRuntime maxRequestLength="102400" executionTimeout="600"/>
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
		<staticContent>
			<mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
		</staticContent>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<handlers>
			<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824"/>
			</requestFiltering>
		</security>
	</system.webServer>
	<devExpress>
		<settings rightToLeft="false"/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme=""/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>
	<connectionStrings>
    <!--
    <add name="NEWPMSEntities" connectionString="metadata=res://*/newpms.csdl|res://*/newpms.ssdl|res://*/newpms.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=davefang.southcentralus.cloudapp.azure.com,1433;Initial Catalog=cpossvr;Persist Security Info=True;User ID=pos;Password=admin99123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="NEWPMSConnectionString" connectionString="Data Source=davefang.southcentralus.cloudapp.azure.com,1433;Initial Catalog=cpossvr;Persist Security Info=True;User ID=pos;Password=admin99123" providerName="System.Data.SqlClient"/>
    -->
    <add name="NEWPMSEntities" connectionString="metadata=res://*/newpms.csdl|res://*/newpms.ssdl|res://*/newpms.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DB_POS;Initial Catalog=cpossvr;Persist Security Info=True;User ID=pos;Password=admin99123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="NEWPMSConnectionString" connectionString="Data Source=DB_POS;Initial Catalog=cpossvr;Persist Security Info=True;User ID=pos;Password=admin99123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
