table.dxButton_X {
    height: 32px;
    font: 9pt Arial;
    color: White;
    cursor: pointer;
    background: url('normal_l.png') left no-repeat;
}
table.dxButton_X:hover {
    color: #E3F6FF;
    background: url('hover_l.png') left no-repeat;
}
table.dxButton_X td.dxbButton_X {
    padding: 0 14px;
    background: url('normal_r.png') right no-repeat;
}
table.dxButton_X td.dxbButton_X:hover {
    background: url('hover_r.png') right no-repeat;
}