table.dxButton_XD {
    height: 32px;
    font: 9pt Arial;
    color: White;
    cursor: pointer;
    background: url('normal_l_disable.png') left no-repeat;
}
table.dxButton_XD:hover {
    color: #E3F6FF;
    background: url('hover_l_disable.png') left no-repeat;
}
table.dxButton_XD td.dxbButton_XD {
    padding: 0 14px;
    background: url('normal_r_disable.png') right no-repeat;
}
table.dxButton_XD td.dxbButton_XD:hover {
    background: url('hover_r_disable.png') right no-repeat;
}